div {
 
  border: 2px solid black;
  display: inline-block;
}

#box1 {
    background-color: red;
    height: 100px;
    width: 100px;
    
}

#box2{
    background-color: green;
    height: 100px;
    width: 100px;
    position: relative;
    top:10px;
   
}
#box3{
    background-color: aqua;
    height: 100px;
    width: 100px;
    position: sticky;
   top: 10px;
   left: 20px;

}
#box4{
    background-color: pink;
    position:fixed;
    top: 0;
    width: 100vw;
      
}

textarea{
    position: relative;
    left: 600px;
}
